@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in FizzBuzz!</h1>
    <p>Check the divisibility of your number</p>
    <br />
    <form method="post">

        <label asp-for="FizzBuzz.Number"></label>
        <b><span asp-validation-for="FizzBuzz.Number" class="text-danger"></span></b>
        <input asp-for="FizzBuzz.Number" class="form-control" /><br />

        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
        @{
            if (Model.FizzBuzz != null)
            {
                <b><p>@Html.DisplayNameFor(model => Model.FizzBuzz.Result) : @Model.FizzBuzz.Result</p></b>
            }

        }


    </form>
</div>